@charset "utf-8";
/* line 2, ../scss/mainfile.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "brandon_grotesque_regularRg", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 12px;
}

/* line 4, ../scss/mainfile.scss */
body > div {
  max-width: 1600px;
  margin: 0 auto;
}

/* line 5, ../scss/mainfile.scss */
#main_nav {
  position: fixed;
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  left: 0;
  top: 0;
}

@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("brandon_bld-webfont.eot");
  src: url("brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("brandon_bld-webfont.woff") format("woff"), url("brandon_bld-webfont.ttf") format("truetype"), url("brandon_bld-webfont.svg#brandon_grotesquebold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_grotesquelight';
  src: url("brandon_light-webfont.eot");
  src: url("brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("brandon_light-webfont.woff") format("woff"), url("brandon_light-webfont.ttf") format("truetype"), url("brandon_light-webfont.svg#brandon_grotesquelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_grotesquethin';
  src: url("brandon_thin-webfont.eot");
  src: url("brandon_thin-webfont.eot?#iefix") format("embedded-opentype"), url("brandon_thin-webfont.woff") format("woff"), url("brandon_thin-webfont.ttf") format("truetype"), url("brandon_thin-webfont.svg#brandon_grotesquethin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("brandon_med-webfont.eot");
  src: url("brandon_med-webfont.eot?#iefix") format("embedded-opentype"), url("brandon_med-webfont.woff") format("woff"), url("brandon_med-webfont.ttf") format("truetype"), url("brandon_med-webfont.svg#brandon_grotesquemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("brandon_reg-webfont.eot");
  src: url("brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("brandon_reg-webfont.woff") format("woff"), url("brandon_reg-webfont.ttf") format("truetype"), url("brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 78, ../scss/mainfile.scss */
#navigation {
  width: 100%;
  top: 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #FFF;
  height: 110px;
}

/* line 79, ../scss/mainfile.scss */
#navigation li {
  width: 15.934065934065934065934065934066%;
  height: 70px;
  float: left;
  display: block;
  background-color: #FFF;
  text-align: center;
  cursor: pointer;
}
/* line 86, ../scss/mainfile.scss */
#navigation li a {
  width: auto;
  height: 100%;
  display: block;
  overflow: hidden;
  padding-top: 47px;
  color: #333;
  	/*margin-right:5px;	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
  /* font */
  font-size: 1.25em;
  font-weight: 300;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  font-family: 'brandon_grotesquebold', Helvetica, Arial, sans-serif;
  line-height: 1em;
  letter-spacing: 7.5px;
}
/* line 110, ../scss/mainfile.scss */
#navigation li:nth-child(3) {
  width: 34.065934065934065934065934065934%;
  z-index: 20;
  top: -10px;
  height: 110px;
}
/* line 115, ../scss/mainfile.scss */
#navigation li:nth-child(3) a.mp {
  padding: 0;
  background-image: url("../img/mainlogo.png");
  width: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 125, ../scss/mainfile.scss */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 27;
}

/* line 129, ../scss/mainfile.scss */
.slide {
  width: 100%;
  height: 600px;
  display: block;
  position: relative;
  /*	*/
}
/* line 135, ../scss/mainfile.scss */
.slide[data-slide="1"] {
  margin-top: 110px;
  background-color: #0a172e;
}
/* line 135, ../scss/mainfile.scss */
.slide[data-slide="2"] {
  margin-top: 600px;
  background-color: #0a172e;
}
/* line 135, ../scss/mainfile.scss */
.slide[data-slide="3"] {
  height: 700px;
  padding-top: 100px;
}
/* line 135, ../scss/mainfile.scss */
.slide[data-slide="3"] .titlfix {
  top: 0.5em;
}
/* line 136, ../scss/mainfile.scss */
.slide #mbg {
  width: 100%;
  background-color: #0a172e;
}

/* line 142, ../scss/mainfile.scss */
.titl {
  font-size: 3.125em;
  text-transform: uppercase;
  letter-spacing: 17px;
  position: absolute;
  left: 10%;
  top: 33.333%;
  color: #FFF;
  font-family: "brandon_grotesquelight", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* line 151, ../scss/mainfile.scss */
.titlfix {
  top: -2.5em;
  color: #000;
}

/* line 152, ../scss/mainfile.scss */
.repos {
  top: 0;
}

/* line 157, ../scss/mainfile.scss */
.grid {
  margin: 0 auto 10px auto;
  width: 90%;
  max-width: 1080px;
}
/* line 161, ../scss/mainfile.scss */
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 168, ../scss/mainfile.scss */
.module {
  left: 0;
  position: relative;
  width: 100%;
  cursor: pointer;
}
/* line 172, ../scss/mainfile.scss */
.module img {
  z-index: 22;
}
/* line 175, ../scss/mainfile.scss */
.module img.clicked {
  position: absolute;
  z-index: 21;
  width: 100%;
  top: 0;
}
/* line 182, ../scss/mainfile.scss */
.module img.discog {
  position: relative;
  z-index: 23;
  left: 0px;
  width: 100%;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 194, ../scss/mainfile.scss */
.module .player {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-position: center center;
  background-size: 40%;
  background-repeat: no-repeat;
  z-index: 22;
}
/* line 203, ../scss/mainfile.scss */
.module .player:before {
  content: "";
  background-size: 100%;
  background-image: url("../img/clicked.png");
  height: 100%;
  position: absolute;
  top: 0;
}
/* line 214, ../scss/mainfile.scss */
.module .player:hover {
  background-size: 60%;
  background-color: rgba(250, 250, 250, 0.5);
}
/* line 220, ../scss/mainfile.scss */
.module .play {
  background-image: url("../img/toplay.png");
}
/* line 223, ../scss/mainfile.scss */
.module .playing {
  background-image: url("../img/isplaying.png");
}

/* line 230, ../scss/mainfile.scss */
[class*='col-'] {
  float: left;
  position: relative;
}

/* line 235, ../scss/mainfile.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 238, ../scss/mainfile.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 241, ../scss/mainfile.scss */
.col-1-2 {
  width: 50%;
}

/* line 245, ../scss/mainfile.scss */
.col-1-4 {
  width: 25%;
  padding-right: 1.15%;
  padding-left: 1.15%;
  margin-bottom: 2.3%;
}

/* line 249, ../scss/mainfile.scss */
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
/* line 254, ../scss/mainfile.scss */
.grid-pad {
  padding: 10px 0 10px 10px;
}
/* line 256, ../scss/mainfile.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 10px;
}

/* line 260, ../scss/mainfile.scss */
.para {
  padding-left: 2.5em;
  padding-right: 7.1875em;
  color: #FFF;
  font-size: 1.4em;
  font-family: "brandon_grotesquelight", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 266, ../scss/mainfile.scss */
.para img {
  width: 200px;
  position: absolute;
  height: auto;
  left: 50%;
  margin-left: -150px;
}

/* line 274, ../scss/mainfile.scss */
.about {
  color: #FFF;
}

/* line 277, ../scss/mainfile.scss */
#bluemesslogo {
  width: 100%;
}

/* line 280, ../scss/mainfile.scss */
.services {
  background-image: url(../img/services.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}
/* line 284, ../scss/mainfile.scss */
.services .server {
  top: 0.75em;
}
/* line 287, ../scss/mainfile.scss */
.services #serv {
  position: relative;
  top: 9.5em;
  left: 10%;
}
/* line 293, ../scss/mainfile.scss */
.services #serv .servi {
  display: block;
  color: #fff;
  font-size: 1.6em;
  letter-spacing: 13px;
  margin-bottom: 0.59em;
  text-transform: uppercase;
  font-family: "brandon_grotesquemedium", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/* line 304, ../scss/mainfile.scss */
.contact {
  margin-top: 0;
}
/* line 306, ../scss/mainfile.scss */
.contact .titlfix {
  top: 1.5em;
}
/* line 307, ../scss/mainfile.scss */
.contact .grid {
  width: 100%;
  max-width: 1600px;
}
/* line 309, ../scss/mainfile.scss */
.contact .grid .col-1-2 span {
  font-size: 1.875em;
  display: block;
  position: relative;
  left: 20%;
  top: 6.5em;
  padding-right: 40%;
}
/* line 312, ../scss/mainfile.scss */
.contact .grid .col-1-2 form {
  padding-right: 19.375%;
  padding-left: 4.5833333%;
}
/* line 313, ../scss/mainfile.scss */
.contact .grid .col-1-2 form label {
  font-size: 1.875em;
  display: block;
  position: relative;
  margin-top: 20px;
}
/* line 318, ../scss/mainfile.scss */
.contact .grid .col-1-2 form label:first-child {
  margin-top: 80px;
}
/* line 322, ../scss/mainfile.scss */
.contact .grid .col-1-2 form input {
  margin-top: 5px;
  display: block;
  width: 100%;
}
/* line 327, ../scss/mainfile.scss */
.contact .grid .col-1-2 form textarea {
  margin-top: 5px;
  width: 100%;
  display: block;
}
/* line 332, ../scss/mainfile.scss */
.contact .grid .col-1-2 form input[type=submit] {
  font-size: 1.875em;
  float: right;
  width: 25%;
  border: 0;
  margin-top: 20px;
  background-color: #0a172e;
  padding-left: 7px;
  padding-right: 7px;
  color: #FFF;
}

/* line 342, ../scss/mainfile.scss */
#footer {
  width: 100%;
  margin: 0 auto;
  background-color: #0a172e;
}
/* line 346, ../scss/mainfile.scss */
#footer .grid {
  max-width: 1600px;
}
/* line 347, ../scss/mainfile.scss */
#footer .grid .col-1-2 {
  padding-top: 25px;
}
/* line 348, ../scss/mainfile.scss */
#footer .grid .col-1-2 .copy {
  float: left;
  display: inline-block;
  width: 4%;
}
/* line 349, ../scss/mainfile.scss */
#footer .grid .col-1-2 .reserve {
  display: inline-block;
  float: right;
  width: 96%;
}
/* line 350, ../scss/mainfile.scss */
#footer .grid .col-1-2 span {
  font-family: "brandon_grotesquelight", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 0.75em;
  display: block;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 8px;
}
/* line 355, ../scss/mainfile.scss */
#footer .grid .col-1-2 img {
  height: 50px;
  width: auto;
  float: right;
  position: relative;
  top: -12.5px;
  right: -10px;
}
