@charset "utf-8";
*{box-sizing:border-box;padding:0;margin:0;font-family:"brandon_grotesque_regularRg", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;font-size:12px;}

body>div{max-width:1600px;margin:0 auto;}
#main_nav {
	
	position: fixed;
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	left: 0;
	top: 0;
}
@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('brandon_bld-webfont.eot');
    src: url('brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_bld-webfont.woff') format('woff'),
         url('brandon_bld-webfont.ttf') format('truetype'),
         url('brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('brandon_light-webfont.eot');
    src: url('brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_light-webfont.woff') format('woff'),
         url('brandon_light-webfont.ttf') format('truetype'),
         url('brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('brandon_thin-webfont.eot');
    src: url('brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_thin-webfont.woff') format('woff'),
         url('brandon_thin-webfont.ttf') format('truetype'),
         url('brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('brandon_med-webfont.eot');
    src: url('brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_med-webfont.woff') format('woff'),
         url('brandon_med-webfont.ttf') format('truetype'),
         url('brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('brandon_reg-webfont.eot');
    src: url('brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_reg-webfont.woff') format('woff'),
         url('brandon_reg-webfont.ttf') format('truetype'),
         url('brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}#navigation{width:100%;top:0;max-width:1600px;margin:0 auto;background-color:#FFF;height:110px;}
#navigation li {
	width:15.934065934065934065934065934066%;
	height:70px;
	float:left;
	display:block;
	background-color:#FFF;
	text-align:center;cursor:pointer;
 a{
	width:auto;
	height:100%;
	display:block;
	overflow:hidden;
	padding-top:47px;
	color:#333;
	/*margin-right:5px;	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;*/
	/* font */
	
	font-size:1.25em;
	font-weight:300;
	
	text-decoration:none;
	font-style:normal;
	text-transform:uppercase;
	font-family:'brandon_grotesquebold', Helvetica, Arial, sans-serif;
	line-height:1em;
	letter-spacing: 7.5px;

}

	&:nth-child(3){
	width:34.065934065934065934065934065934%;
	z-index:20;
	top:-10px;
	height:110px;
		 a.mp{
		 padding:0;
		 background-image:url('../img/mainlogo.png');
		 width:100%;
		background-size: auto 100%;
		background-position: center;
		 background-repeat:no-repeat;
		 }
}
}
	nav{
	position:fixed;width:100%;top:0;
	z-index:27;
	}
.slide {
	
	width:100%;
	height:600px;
	display:block;
	position: relative;/*	*/
&[data-slide="1"]{margin-top:110px;background-color:#0a172e;}&[data-slide="2"]{margin-top:600px;background-color:#0a172e;}&[data-slide="3"]{height:700px;padding-top:100px; .titlfix{top:0.5em;}}
#mbg{
width:100%;
background-color:#0a172e;
}
	
}
.titl{
font-size:3.125em;
text-transform:uppercase;letter-spacing:17px;
position: absolute;
left:10%;
top:33.333%;
color:#FFF;
font-family:"brandon_grotesquelight", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.titlfix{top:-2.5em;color:#000;}	
.repos{
top:0;
}
	$pad: 10px;
	
	.grid {
	  margin: 0 auto $pad auto;
	  width:90%;
	  max-width:1080px;
	  &:after {
	    /* Or @extend clearfix */
	    content: "";
	    display: table;
	    clear: both;
	  }
	}
	.module{
	left:0;
	position:relative;
	width:100%;cursor:pointer;
	img{
	z-index:22;
	
	&.clicked{
		position:absolute;
		z-index:21;
		width:100%;
		top:0;
		
	}
	&.discog{
		position:relative;
		z-index:23;
		left:0px;
		width:100%;-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
		
	}
	}
		.player{
		height:100%;
		width:100%;
		position:absolute;
		top:0;		
		background-position:center center;
		background-size:40%;
		background-repeat:no-repeat;
		z-index:22;
			&:before{
				content:"";
				background-size:100%;
					
				background-image:url('../img/clicked.png');
				height:100%;
				position:absolute;
				top:0;		
			
			}
		
			&:hover{
				background-size:60%;
				background-color:rgba(250,250,250,0.5);
				
			}
		}
		.play{
		background-image:url('../img/toplay.png');
		}
		.playing{
		background-image:url('../img/isplaying.png');
		}
	
	}
	
	
	[class*='col-'] {
	  float: left;
	  position:relative;
	  
	}
	.col-2-3 {
	  width: 66.66%;
	}
	.col-1-3 {
	  width: 33.33%;
	}
	.col-1-2 {
	  width: 50%;
	  
	}
	.col-1-5 {
	  width: 20%;
	  padding-right:1.15%;padding-left:1.15%;margin-bottom:2.3%;
	}
	.col-1-4 {
	  width: 25%;
	  padding-right:1.15%;padding-left:1.15%;margin-bottom:2.3%;
	}
	.col-1-8 {
	  width: 12.5%;
	}
	
	/* Opt-in outside padding */
	.grid-pad {
	  padding: $pad 0 $pad $pad;
	  [class*='col-']:last-of-type {
	    padding-right: $pad;
	  }
	}
.para{
padding-left:2.5em;
padding-right:7.1875em;
color:#FFF;
font-size:1.4em;
	  font-family:"brandon_grotesquelight", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
		  img{
			width: 200px;
			position: absolute;
			height: auto;
			left: 50%;
			margin-left: -150px;
		  }
}
.about{
color:#FFF;
}
#bluemesslogo{
width:100%;
}
.services{
	background-image:url(../img/services.png);
	background-size:100%;
	background-repeat:no-repeat;height:600px;
	.server{
			top:0.75em;
		}
	#serv{
	position:relative;
	top:9.5em;
	left:10%;
	
	
		.servi{
			display:block;
			color:#fff;
			font-size:1.6em;
			letter-spacing:13px;margin-bottom:0.59em;
			text-transform:uppercase;
			font-family:"brandon_grotesquemedium", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
			
		}
	}	
}
.contact{
	margin-top:0;
		.titlfix{top:1.5em;}
	.grid{width:100%;max-width:1600px;
		.col-1-2{
			span{font-size:1.875em;
			display:block;position:relative;left:20%;top:6.5em;padding-right:40%;
			}
			form{padding-right:19.375%;padding-left:4.5833333%;
				label{
					font-size:1.875em;
					display:block;
					position:relative;
					margin-top:20px;
					&:first-child{
					margin-top:80px;
					}
				}
				input{
					margin-top:5px;
					display:block;
					width:100%;
				}
				textarea{
					margin-top:5px;
					width:100%;
					display:block;
				}
				input[type=submit]{font-size:1.875em;
					float:right;
					width:25%;border:0;margin-top:20px;
					background-color:#0a172e;padding-left:7px;padding-right:7px;color:#FFF;
				}
			}
		}
	}
}

#footer{
width:100%;
margin:0 auto;
background-color:#0a172e;
	.grid{max-width:1600px;
	.col-1-2{padding-top:25px;
	.copy{float:left;display:inline-block;width:4%;}
		.reserve{display:inline-block;float:right;width:96%;}
		span{
		font-family:"brandon_grotesquelight", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
		font-size:0.75em;display:block;text-transform:uppercase;color:#fff;letter-spacing:8px;
		
		}
		img{
		height:50px;
		width:auto;
		float:right;position:relative;top:-12.5px;
		right:-10px;
		}
		}
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.mp{background-size: 100% auto;}
.para{
padding-left:0em;
padding-right:0em;
}
.slide[data-slide="2"]{
	margin-top: 0px;
}
#navigation li a{

	letter-spacing: 0px;

}
.col-1-5{
	width:25%;
}
.services{margin-top:100px}
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	nav{position: relative;}
	.col-1-5{margin-top: 0px;}
	.titl{

		top:20%;
		left:5%;

	}
	.contact .grid .col-1-2 form input[type=submit] {width:95%;}
	.contact .titlfix{top:1.0em;}
	.services{background-size: auto 100%;margin-top:500px;}
	#serv{left:5%;}
	.col-1-5{width:50%;}
	#navigation li{
		width:50%;
		height:30px;
		a{
			padding-top:7px;
		}
		&:nth-child(3) {
		width: 100%;height:60px;
		a.mp{
			background-size: auto 100%;
		}
		}
	}
}
