@charset "utf-8";
*{box-sizing:border-box;padding:0px;margin:0px;font-family:"brandon_grotesque_regularRg", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}

body>div, body>nav{max-width:960px;margin:0 auto;}
#main_nav {
	min-width: 1024px;
	position: fixed;
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	left: 0px;
	top: 0px;
}
@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('brandon_bld-webfont.eot');
    src: url('brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_bld-webfont.woff') format('woff'),
         url('brandon_bld-webfont.ttf') format('truetype'),
         url('brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('brandon_blk-webfont.eot');
    src: url('brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_blk-webfont.woff') format('woff'),
         url('brandon_blk-webfont.ttf') format('truetype'),
         url('brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('brandon_light-webfont.eot');
    src: url('brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_light-webfont.woff') format('woff'),
         url('brandon_light-webfont.ttf') format('truetype'),
         url('brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('brandon_thin-webfont.eot');
    src: url('brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_thin-webfont.woff') format('woff'),
         url('brandon_thin-webfont.ttf') format('truetype'),
         url('brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('brandon_reg-webfont.eot');
    src: url('brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_reg-webfont.woff') format('woff'),
         url('brandon_reg-webfont.ttf') format('truetype'),
         url('brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
#navigation li {
	width:15.934065934065934065934065934066%;
	height:70px;
	float:left;
	display:block;
	position:relative;
	text-align:center;
 a{
	width:auto;
	height:100%;
	display:block;
	overflow:hidden;
	padding-top:27px;
	color:#333;
	/*margin-right:5px;	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;*/
	/* font */
	
	font-size:0.75em;
	font-weight:300;
	/*	letter-spacing: 0.1em;*/
	text-decoration:none;
	font-style:normal;
	text-transform:uppercase;
	font-family:'brandon_grotesquebold', Helvetica, Arial, sans-serif;
	line-height:1em;
	letter-spacing: 0.0625em;

}

&:nth-child(3){
width:34.065934065934065934065934065934%;
z-index:20;
position:relative;top:-10px;height:100px;
 a.mp{
 padding:0px;
 background-image:url('../img/mainlogo.png');
 width:100%;
 background-size:cover;
 background-repeat:no-repeat;
 }
}
}
	nav.topbar{
	width:100%;
	min-height:100px;
	
	padding-top:20px;
	background-color:#FFF;
	z-index:8;
	}
.slide {
	background-attachment: fixed;
	width:100%;
	height:600px;
	position: relative;/*	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);*/

#mbg{
width:100%;
background-color:#0a172e; 

}	
}
.titl{
font-size:2.5em;
text-transform:capitalize;
position: absolute;
left:10%;
top:33.333%;
color:#FFF;
font-family:"brandon_grotesquelight", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.titlfix{top:-2.75em;color:#000;}	
	$pad: 10px;
	
	.grid {
	  margin: 0 auto $pad auto;
	  width:90%;
	  max-width:980px;
	  &:after {
	    /* Or @extend clearfix */
	    content: "";
	    display: table;
	    clear: both;
	  }
	}
	.module{
	left:0px;
	position:relative;
	width:100%;
	img{
	z-index:20;
	&.clicked{
		position:absolute;
		z-index:19;
		height:100%;
		width:auto;
		top:0px;
		right:5px;
	}
	&.discog{
		position:relative;
		z-index:21;
		left:0px;
		width:100%;
	}
	}
	}
	[class*='col-'] {
	  float: left;
	  left:0px;
	  position:relative;padding-right:1.15%;padding-left:1.15%;margin-bottom:2.3%;
	  
	}
	.col-2-3 {
	  width: 66.66%;
	}
	.col-1-3 {
	  width: 33.33%;
	}
	.col-1-2 {
	  width: 50%;
	  
	}
	.col-1-4 {
	  width: 25%;
	}
	.col-1-8 {
	  width: 12.5%;
	}
	
	/* Opt-in outside padding */
	.grid-pad {
	  padding: $pad 0 $pad $pad;
	  [class*='col-']:last-of-type {
	    padding-right: $pad;
	  }
	}
.para{
color:#FFF;
font-size:1.1em;
	  font-family:"brandon_grotesquelight", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.about{
color:#FFF;
}
#bluemesslogo{
width:100%;
}